/* Navbar styles */
.navbar {
  background-color: #f8f9fa; /* Light gray background */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 20px; /* Increased padding for better spacing */
  border-radius: 15px; /* Rounded corners */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.8rem; /* Increased font size */
  color: #007bff; /* Blue color for brand */
  font-weight: bold;
  text-decoration: none;
}

.navbar-toggler {
  border: none;
  cursor: pointer;
}

/* Navbar links */
.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  margin-left: 20px;
}

.navbar-nav .nav-link {
  font-size: 1.2rem; /* Increased font size */
  color: #495057; /* Dark gray color for links */
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #007bff; /* Blue color on hover */
}

/* Logout button */
.logout-btn {
  font-size: 1.2rem; /* Increased font size */
  color: #495057; /* Dark gray color for button */
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logout-btn:hover {
  color: #007bff; /* Blue color on hover */
}

/* Mobile navigation */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-toggler {
    display: block;
  }

  .collapse {
    display: none;
  }

  .navbar-nav {
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar-nav .nav-item {
    margin-left: 0;
  }
}
